<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>MyIntelGPU</string>
	<key>CFBundleIdentifier</key>
	<string>com.pongpan-bk.MyIntelGPU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MyIntelGPU</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.4</string>
	<key>CFBundleVersion</key>
	<string>3.1.48</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Universal_AutoMatch_Framebuffer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.pongpan-bk.MyIntelGPU</string>
			<key>IOClass</key>
			<string>MyIntelFramebuffer</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0xa7ac8086</string>
			<key>IOProbeScore</key>
			<integer>20000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>device-id</key>
			<data>
			rKcAAA==
			</data>
			<key>framebuffer-patch-enable</key>
			<integer>1</integer>
		</dict>
		<key>Universal_AutoMatch_GPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.pongpan-bk.MyIntelGPU</string>
			<key>IOClass</key>
			<string>MyIntelGPU</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelKBLGraphicsGLDriver</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0xa7ac8086</string>
			<key>IOProbeScore</key>
			<integer>20000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOVARendererID</key>
			<data>
			rKcAAA==
			</data>
			<key>MetalPluginName</key>
			<string>AppleIntelKBLGraphicsMTLDriver</string>
			<key>MetalStatisticsName</key>
			<string>Raptor Lake-P</string>
			<key>model</key>
			<string>Raptor Lake-P</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 pongpan-bk. All rights reserved.</string>
	<key>OSBundleAllowUserLoad</key>
	<true/>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>2.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
